* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Lato', sans-serif !important;
  background: #fff;
}

/* Header */

header {
  width: 100%;
  background-color: #6F1D1B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 0.7rem 2rem;
}

header .header-logo {
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

header .header-logo:hover {
  cursor: pointer;
  width: 12.3rem;
}

.logo {
  width: 45%;
}

header .header-logo a {
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  color: #FFE6A7;
}

header .header-right ul {
  list-style: none;
  margin-left: 2rem;
}

header .header-right ul li {
  margin-left: 1rem;
  display: inline;
  list-style-type: none;
}

header .header-right li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  color: #FFE6A7;
}

header .header-right li a:hover {
  color: #432818;
  font-size: 1.2rem;
  font-weight: 700;
}

header .bi {
  font-size: 2rem;
  margin-left: 1rem;
  color: #FFE6A7;
  display: none;
}

/* Hero */

.hero-container {
  width: 100%;
  background-color: #FFE6A7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
  position: relative;
  top: 6rem;
  left: 0;
}

.hero-container .hero-main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.hero-container .hero-main .hero-content {
  width: 75%;
  color: #432818;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.hero-container .hero-main .hero-content .hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-container .hero-main .hero-content .hero-message {
  font-size: 1.2rem;
  text-align: left;
}

.hero-container .hero-main .hero-content .hero-btn {
  background-color: #BB9457;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.7rem;
  margin: 2rem 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero-container .hero-main .hero-content .hero-btn:hover {
  background-color: #432818;
  cursor: pointer;
}

.hero-container .hero-main .hero-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container .hero-main .hero-img img {
  width: 100%;
  height: 100%;
}

/* About */

.main-about {
  width: 100%;
  color: #432818;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
  margin-top: 6rem;
}

.main-about h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.main-about p {
  font-size: 1.2rem;
  text-align: center;
}

/* Projects */

.main-projects {
  width: 100%;
  padding: 0 0 6rem;
}

.main-projects h1 {
  color: #432818;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.main-projects .main-projects-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}

.main-projects .main-projects-card .card {
  min-width: 30%;
  min-height: 60vh;
  background-color: #432818;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-projects .main-projects-card .card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  padding: 0.7rem;
  border-radius: 20px;
  position: relative;
}

.main-projects .main-projects-card .card p {
  font-size: 1rem;
  text-align: center;
}

.main-projects .main-projects-card .card h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #fff;
}

.main-projects .main-projects-card .card p {
  color: #fff;
}

.btn-menu {
  background-color: #BB9457;
  border: none;
  color: white;
  margin-top: 10px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-menu:hover {
  background-color: #99582A;
  cursor: pointer;
}

.main-projects .main-projects-card .card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 1;
}


/* Contact */

.main-contact {
  width: 100%;
  background-color: #BB9457;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
}

.main-contact .contact-container {
  width: 50%;
}

.main-contact .contact-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #432818;
  font-weight: bold;
  margin-bottom: 2rem;
}

.main-contact .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-contact .contact-form input {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
}

.main-contact .contact-form textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
}

.main-contact .contact-form button {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #432818;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.main-contact .contact-form button:hover {
  background-color: #99582A;
  color: #fff;
}

/* Footer */

footer {
  width: 100%;
  background-color: #6F1D1B;
}

footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

footer .footer-container .footer-logo {
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

footer .footer-container .footer-logo:hover {
  cursor: pointer;
  width: 12.3rem;
}

.logo {
  width: 45%;
}

footer .footer-container .footer-logo a {
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  color: #FFE6A7;
}

footer .footer-container .footer-logo a:hover {
  color: #fff;
}

footer .footer-container .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .footer-nav ul li {
  list-style: none;
  margin: 0 1rem;
}

footer .footer-container .footer-nav ul li a {
  text-decoration: none;
  color: #FFE6A7;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

footer .footer-container .footer-nav ul li a:hover {
  font-size: 1.2rem;
  font-weight: 900;
}